# This is Git's per-user configuration file.
[user]
    useConfigOnly = true
	email = mmichie@gmail.com
	name = Matt Michie
	signingkey = 2A961D23DBF02A06

[credential]
    helper = osxkeychain

[alias]
    graph = log --branches --pretty=short --decorate --graph

[color]
    branch = on
    diff = on
    interactive = on
    status = on

[alias]
    history = log --stat --patch --

[push]
	default = tracking
[core]
    pager = ~/bin/diff-so-fancy/diff-so-fancy | less --tabs=4 -RFX
