# This is Git's per-user configuration file.
[user]
	name = Matt Michie
	email = mmichie@gmail.com
[credential]
    helper = osxkeychain


[alias]
    graph = log --branches --pretty=short --decorate --graph

[color]
    branch = on
    diff = on
    interactive = on
    status = on

[diff]
    external = git_diff_wrapper
	tool = vimdiff

[difftool]
	prompt = false

[pager]
    diff =

[push]
	default = tracking
