[submodule "utils/fasd"]
	path = bin/bin/fasd
	url = https://github.com/clvv/fasd
[submodule "bin/bin/diff-so-fancy"]
	path = bin/bin/diff-so-fancy
	url = https://github.com/so-fancy/diff-so-fancy
[submodule "tmux/.config/tmux/plugins/tpm"]
	path = tmux/.config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "tmux/.config/tmux/plugins/tmux-resurrect"]
	path = tmux/.config/tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
[submodule "tmux/.config/tmux/plugins/tmux-continuum"]
	path = tmux/.config/tmux/plugins/tmux-continuum
	url = https://github.com/tmux-plugins/tmux-continuum
[submodule "tmux/.config/tmux/plugins/dwm.tmux"]
	path = tmux/.config/tmux/plugins/dwm.tmux
	url = https://github.com/saysjonathan/dwm.tmux.git
