[submodule "tmux/.config/tmux/plugins/tpm"]
	path = tmux/.config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "configs/tmux/plugins/tpm"]
	path = configs/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "configs/tmux/plugins/tmux-resurrect"]
	path = configs/tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
[submodule "configs/tmux/plugins/tmux-continuum"]
	path = configs/tmux/plugins/tmux-continuum
	url = https://github.com/tmux-plugins/tmux-continuum
[submodule "configs/tmux/plugins/dwm.tmux"]
	path = configs/tmux/plugins/dwm.tmux
	url = https://github.com/saysjonathan/dwm.tmux.git
[submodule "configs/tmux/plugins/tmux-clima"]
	path = configs/tmux/plugins/tmux-clima
	url = https://github.com/vascomfnunes/tmux-clima.git
