"\e[5~": history-search-backward
"\e[6~": history-search-forward
set show-all-if-ambiguous on
set visible-stats on

# Better handling for international characters and meta keys
set meta-flag on
set input-meta on
set output-meta on
set convert-meta off
